services:
  db:
    image: postgres:15-alpine
    container_name: notebook_db
    ports:
      - "8000:8000"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: always

  backend:
    
    image: wesleyufpi/notebook-backend:latest
    container_name: notebook_api
    volumes:
      - ./storage_prod:/app/storage
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - BACKEND_CORS_ORIGINS=${FRONTEND_URL}
    depends_on:
      - db
    command: >
      sh -c "alembic upgrade head && 
             uvicorn app.main:app --host 0.0.0.0 --port 8000"
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        
        - VITE_API_URL=${VITE_API_URL}
    container_name: notebook_web
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
