fastapi
uvicorn[standard]

# Banco de Dados
sqlalchemy
psycopg2-binary
alembic

# Upload e arquivos
python-multipart
pypdf

# Variáveis de ambiente
python-dotenv

# Segurança e autenticação
passlib[bcrypt]
pyjwt
pwdlib[argon2]

# LangChain + Gemini
langchain
langchain-google-genai
google-generativeai

# Utilidades gerais
pydantic
pydantic-settings
pydantic[email]

# Opcional mas recomendado
httpx               # para chamadas http internas
jinja2              # se futuramente quiser templates
